<!-- Lage
       ================================================== -->
  <hr class="featurette-divider" id="location" />

  <div class="featurette" >
    <%= link_to "Top", '#body', class: "btn btn-medium btn-primary pull-right smooth_anker" %>
    <!-- IFrame for Google Maps> -->
    <iframe width="500" height="350" frameborder="0" scrolling="no" marginheight="0"marginwidth="0" class="pull-left google_map" src="https://mapsengine.google.com/map/embed?mid=zFLwE9aF2OZs.kVVwn84Zh6TA">
    </iframe>
    <h2 class="featurette-heading">Lage</h2>
    <p class="lead">Zufahrt mit zwei Parkplätzen beim Haus, im Winter ab Parkplatz Weissenfluh mit Schneeketten.
    Restaurants, Lebensmittel, Bahnen Meiringen-Reuti-Mägisalp sind in 20 Gehminuten oder 5 Autominuten erreichbar.
    </p>
  </div>