<hr class="featurette-divider" id="special" />
  <div class="featurette" >
    <%= link_to "Top", '#body', class: "btn btn-medium btn-primary pull-right smooth_anker" %>
    <h2 class="featurette-heading">Region / Ausflüge</h2>

    <div class="featurette pull-right" >
      <p>Haslital im Sommer</p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/HRri3bNenLk" frameborder="0" allowfullscreen></iframe>
      <br />
      <p>Haslital im Winter</p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/XWvBfvTkvzc" frameborder="0" allowfullscreen></iframe>
    </div>

    <blockquote>
      <p> Die Schweizer Schneesportschule Meiringen-Hasliberg mit dem Skihäsliland auf «Bidmi» gehört zu den besten Kinderskischulen der Schweiz.</p>
      <small><cite title="Quelle"> haslital.ch</cite></small>
    </blockquote>

    <ul>
      <li>Badesee Wasserwendi</li>
      <li> www.haslital.ch</li>
      <li> www.meiringen-hasliberg.ch</li>
      <li> www.grimselwelt.ch</li>
      <li> www.ballenberg.ch</li>
      <li> www.brienz-rothorn.ch</li>
      <li> www.jungfrau.ch</li>
      <li> www.interlaken.ch</li>
      <li> www.luzern.org</li>
      <li> www.berninfo.ch</li>
      <li> www.tiefdruckangebote.ch</li>
    </ul>
  </div>