<div class="container marketing">
	<h1> Kontakt </h1>
<address>
  <strong>Ferienhaus Knöll</strong><br>
  Musterstrasse 45<br>
  4000 Basel<br>
  <abbr title="Phone">P:</abbr> (41) 61 546 23 12
  <a href="mailto:#">first.last@example.com</a>
</address>
</div>