<div class="container marketing">
	<h1> Kontakt </h1>
<address>
  <strong>K. und N. Knöll</strong><br>
  Steinbühlallee 171<br>
  4054 Basel<br>
  Mail: <a href="mailto:#">karinknoell@yahoo.de</a>
</address>
</div>