<h1>Foto Galerie</h1>
<p class="lead">Sehen sie ein paar Fotos an</p>

<% @categories.in_groups_of(4, false) do |category_line| %>
	<div class="row-fluid">
		<% category_line.each do |category| %>
				<div class="category-box span3 row-fluid">
					<%= link_to image_tag(category_image(category_name(category))),	category: category_name(category) %>
  				<div class="span12 description">
  					<h2><%= category_name(category)%></h2>
  				</div>

				</div>

			
		<% end %>
	</div>
<% end %>
