<h1>Foto Galerie</h1>
<p class="lead">Sehen sie ein paar Fotos an</p>
<table class="galleryCategory_table">
		<tr>
<% @categories.each do |categorie| %>
		<td><%= link_to category_name(categorie), category: category_name(categorie) %>
			<%= image_tag(category_image(category_name(categorie))) %>
		</td>
<% end %>
	<tr>
</table>