<% provide(:title, 'Home') %>
 <!-- <div class="center hero-unit"> 
<h1>Ferienhaus vor Weissenfluh</h1>
  <h2>
    This is a little bit bla bli blu for e subtitle
  </h2>-->

 
<h1>Ferienhaus vor Weissenfluh</h1>
<br><br><br>
  <h2>
    This is a little bit bla bli blu for a subtitle <br><br><br>and to show that the navigation bar in the top scrolls down,<br><br><br> so it is always on the top ;-)
  </h2>

 </div>