<% provide(:title, 'Home') %>
<h1>Herzlich Willkommen im Chalet vor Weissenfluh</h1>
<p>
<div class="container">
<div class="span11">
Verbringen Sie ruhige Tage in Weissenfluh, auf der Sonnenterrasse des Hasliberges im Berner Oberland. Das gem체tliche/heimelige Chalet wird Sie mit seiner grossartigen Aussicht 체ber die Berg- und Gletscherwelt sowie dem Tiefblick ins Haslital bis hin zum Brienzersee beeindrucken. In der Nacht wird Sie der einmalige Sternenhimmel verzaubern.
</p>
<p>
Die Region Haslital bietet seinen G채sten zu jeder Jahreszeit alles f체r einen angenehmen Aufenthalt, egal ob Sie Aktivferien machen wollen oder eher Ruhe und Entspannung suchen.
</p>
</div>
</div>