

<div class="row">
	<div class="span1">
			<%= link_to "<-Zurück", month: (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
		</div>
		<div class="span1 offset5">
			<%= link_to "Heute", :month => (Date.today).strftime("%Y-%m-01") %>
		</div>
			<div class="span1 offset4">
			 <%= link_to "Vorwärts->", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
	</div>
	<p></p><br />

	<% 3.times do |i| %>
		<div class="span4">
			<%= calendar(year: booking_new_calculateDate(@date, i).year, month: booking_new_calculateDate(@date, i).month, first_day_of_week: 1) do |d|
				if @dates_test.include?(d)
					[d.mday, {class: "reserved_day"}]
				else
					[d.mday, {class: "free_day"}]
				end
  		end %>
		</div>
	<% end %>
</div>