<!-- Price  -->
<hr class="featurette-divider" id="price">

<div class="featurette" >
  <%= link_to "Top", '#body', class: "btn btn-medium btn-primary pull-right smooth_anker" %>
  <h2 class="featurette-heading">Preise</h2>
  <p>Strom / Zentralheizung (Oel), Warmwasser, Küchenwäsche sind im Preis inbegriffen.<br />
    Telefon, Radio, TV-Sat, Waschmaschine und Kinderbett können auf Verlangen benutzt werden.<br />
    <div class="alert alert-error">
      <strong>Haustiere sind nicht erlaubt. Im ganzen Haus gilt striktes Rauchverbot.</strong>
    </div>
  </p>
  <p>Alle Preise sind inklusive der MwSt.</p> 
  <table class="table table-hover table-condensed">
    <!-- <caption>Unsere Preisliste</caption> -->
    <thead>

      <tr>
        <th>Jahreszeit</th>
        <th>Saison</th>
        <th>Preis pro Nacht (CHF)</th>
      </tr>
    </thead>
    <tbody>
     <tr>
      <td rowspan="2">Sommer</td>
      <td>Hochsaison</td>
      <td>80.-</td>
    </tr>
    <tr>
      <td>Zwischensaison</td>
      <td>70.-</td>
    </tr>
    <tr>
      <td rowspan="2">Winter</td>
      <td>Hochsaison</td>
      <td>90.-</td>
    </tr>
    <tr>
      <td>Zwischensaison</td>
      <td>80.-</td>
    </tr>
  </tbody>
</table>
<dl class="dl-horizontal">
  <dt>Nicht inbegriffen</dt>
  <dd>Telefon nach Zähler zuzügl. Fr. 5.--/Woche</dd>
  <dd>Kehricht Fr. 1.90/Sack</dd>
  <dd>1 Korb Cheminéeholz Fr. 6.--</dd>
  <dd>Endreiniung Fr. 60.--</dd>
  <dd>Bettwäsche Fr. 10.--/Bett</dd>
  <dd>Kurtaxe Erwachsene Fr. 3.--/Tag, Kinder (6 – 16 Jahre) Fr. 1.--/Tag</dd>
</dl>


</div>