@import "bootstrap";

// mobile Versions
@import "bootstrap-responsive";
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$transparent_black: rgba(0,0,0,.4);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }  
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Patua One', cursive; */
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Header
-------------------------------------------------- */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  //text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: withe;
    text-decoration: none;
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  //width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  .container {
   position: relative;
   z-index: 9;
  }
  .item {
  height: 500px;
  }

img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px $transparent_black;
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel-caption {
      //background-color: transparent;
      background-color: $transparent_black;
      position: static;
      max-width: 450px;
      margin: 0 40px;
      margin-top: 300px;
      h1, .lead {
        margin: 0;
        line-height: 1.25;
        color: #fff;
        text-shadow: 0 1px 1px $transparent_black;
      }
      .btn {
        margin-top: 10px;
      }
    }
  /* MARKETING CONTENT
  -------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing 
  .span4 {
    img {
      text-align: center;
    }
    text-align: center;
    p {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  h2 {
    font-weight: normal;
  }

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
      //padding-top: 40px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
      .fancybox {
        img {
          margin: 10px 7px;
        }
      }
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }

    .google_map {
      margin-right: 10px;
      //float: left;
    }

/* footer
-------------------------------------------------- */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    margin: 30px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/*----------- */
/* Form */
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea {
  height: 80px !important
}
input {
  height: auto !important;
}

.datepicker {
  height: 30px !important;
}

.boolean {
  padding-top: 0px !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  margin-bottom: 0px !important;
  @extend .control-group;
  @extend .error;

}

/* CALENDAR */

.monthName th {
  font-weight: normal;
  padding-top: 1em;
  padding-bottom: 0.7em;
}

.dayName th {
  font-size: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  color: black;
}

.otherMonth, .reserved_day, .free_day, .new_reservation_day, .conflict_day {
  padding: 0.7em 1em;
  border-right: 1px solid white;
  width: 25px;
  height: 20px;
  text-align: center;

}
.otherMonth {
  color: #eeeeee;
}

.new_reservation_day {
  background-color: #58FA82;
}

.conflict_day { 
  background-color: #F4FA58;

}

.reserved_day {
  background-color: #FA5858;
  color: white;
}
