<footer class="footer">
  <small>
    Handcrafted with a lot of love and passion by Nicolas Mauchle
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>