<footer class="footer">
  <small>
    Made with love by Nicolas Mauchle &#60;&#37;= ) 
  </small>
  <nav>
    <ul>
    	<% if !signed_in? %>
     		<li><%= link_to "Login", login_path %></li>
      <% end %>
      <li><%= link_to "Kontakt", '#' %></li>
    </ul>
  </nav>
</footer>