<header class="navbar navbar-fixed-top navbar-inverse .hidden-phone">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Ferienhaus vor Weissenfluh", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Objektbeschreibung",    property_description_path %></li>
          <li><%= link_to "Reservation", reservation_path %></li>
        </ul>
      </nav>
    </div>
  </div>
  </header>